*~
*#
*.ace
*.bak
*_beh.prj
*.bgn
*.bit
*.bld
*.clk_rgn
*.cmd
*.cmd_log
*.cr.mti
*.csv
db
*.dly
*.drc
*.elf
*.exe
*.gise
*.grf
*.html
*.ibs
impact_impact.xwbt
impact.xsl
incremental_db
*.ini
iseconfig
isim
*.jhd
*.lck
*.log
*.lpc
*.lso
*.lst
*.map
*.mppr
*.mrp
*.ncd
netgen
*.ngc
*.ngd
*.ngm
_ngo
*.ngr
*.nlf
*.pad
*_pad.txt
*.par
*.pcf
pepExtractor.prj
*.prec_log
*.prj
*.psr
*.ptwx
*.pwr
*.rpt
sch2HdlBatchFile
*.schlog
*.scr
*.sdf
*.spl
*.srp
*.srr
*.stx
*.svf
*.swp
*.syr
*.tcl
templates
*.tim
transcript
*.tsi
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.vhf
*.vhi
vsim.wlf
*.wdb
webtalk_impact.xml
webtalk.log
work
*.xcf
xlnx_auto*
*.xml
_xmsgs
*.xmsgs
*.xpi
*.xreport
*.xrpt
xst
*.xst
*.xwbt
planAhead*
