NET "AUDIO_OUT" LOC = B5;
NET "CLK_40M" LOC = M6;


NET "COLOR[7]" LOC = J13;
NET "COLOR[6]" LOC = H13;
NET "COLOR[5]" LOC = G14;
NET "COLOR[4]" LOC = G13;
NET "COLOR[3]" LOC = F14;
NET "COLOR[2]" LOC = F13;
NET "COLOR[1]" LOC = D13;
NET "COLOR[0]" LOC = C14;
NET "HSYNC" LOC = J14;
NET "VSYNC" LOC = K13;

# PlanAhead Generated IO constraints 

NET "COLOR[7]" IOSTANDARD = LVTTL;
NET "COLOR[6]" IOSTANDARD = LVTTL;
NET "COLOR[5]" IOSTANDARD = LVTTL;
NET "COLOR[4]" IOSTANDARD = LVTTL;
NET "COLOR[3]" IOSTANDARD = LVTTL;
NET "COLOR[2]" IOSTANDARD = LVTTL;
NET "COLOR[1]" IOSTANDARD = LVTTL;
NET "COLOR[0]" IOSTANDARD = LVTTL;
NET "COLOR[7]" DRIVE = 8;
NET "COLOR[6]" DRIVE = 8;
NET "COLOR[5]" DRIVE = 8;
NET "COLOR[4]" DRIVE = 8;
NET "COLOR[3]" DRIVE = 8;
NET "COLOR[2]" DRIVE = 8;
NET "COLOR[1]" DRIVE = 8;
NET "COLOR[0]" DRIVE = 8;
NET "HSYNC" IOSTANDARD = LVTTL;
NET "VSYNC" IOSTANDARD = LVTTL;
NET "HSYNC" SLEW = FAST;
NET "VSYNC" SLEW = FAST;
NET "HSYNC" DRIVE = 8;
NET "VSYNC" DRIVE = 8;
